!ReactTypings/**
!js-patched/**
.vscode/**/*
.vscode-test/**
.gitignore
test/**
out/**
src/**
**/*.js.map
SampleApplication/**
tools/**
.vscodeignore
gulpfile.js
preparebuild.bat
tsconfig.json
tslint.json
release/**
.github/**
.npmignore
npm-shrinkwrap.json
SmokeTestLogs
webpack.config.js
node_modules
!node_modules/vscode
!node_modules/ws
!node_modules/vscode-extension-telemetry
!node_modules/vscode-nls
!node_modules/safe-buffer
!node_modules/applicationinsights
!node_modules/winreg
!node_modules/flatten-source-map
i18n

